.GreenEnergyBox_Title {
    color: rgba(255, 255, 255, 0.85);
}

.GreenEnergyBox_Text {
    color: rgba(255, 255, 255, 0.85);
}

.GreenEnergyBox_Value {
    font-size: 32px;
    font-weight: 600;
}

.GreenEnergyBox_Comparision {
    color: #809599;
    font-size: 13px;
}
